.member-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    border: 5px solid cornflowerblue;
    border-radius: 7px;
    background-color: floralwhite;
    margin: 50px;
  
    .information-form {
        font-family: sans-serif;
        font-weight: 900;
        font-size: 50px;
        color: darkslategrey;
        // text-decoration: underline;
        margin: 10px;
        display: flex;
        flex-direction: column;

        .member-info-input {
            padding-bottom: 10px;
        }

        input {
            background-color: ghostwhite;
            margin: 2px;
            font-size: 40px;
            width: 40vw;
        }

        button {
            background-color: cornflowerblue;
            border: 5px solid thick;
            border-radius: 2px;
            height: 40px;
            font-size: 28px;
            font-weight: 600;
            color: turquoise;
            transition: .5s ease-in-out;
            cursor: pointer;
        }         
    }
}

.delete-button-wrapper {
    margin-top: 30px;
    
    button {
        color: whitesmoke;
        border: 1px solid red;
        background-color: lightcoral;
        cursor: pointer;
    }
}