.members-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
}

.signin-form-title {
    font-family: "Style Script", cursive;
    font-size: 70px;
    color: darkslategrey;
    text-decoration: underline;
    margin: 10px;
}

.login-wrapper {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    filter: brightness(110%);
    height: 400px;

    .login-field {
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .login-field-title, label {
            font-family: "Style Script", cursive;
            color: darkslategrey;
            text-decoration: underline;
            font-size: 2em;
        }

        input {
            width: 500px;
            height: 50px;
            font-size: 2em;

            &:focus {
                outline: none;
            }
        }
    
    }


    .login-button {
        width: 240px;
        height: 50px;
        margin-left: 20px;
        margin-top: 35px;
        font-family: "Style Script", cursive;
        color: darkslategrey;
        text-decoration: underline;
        font-size: 2em;
        background-color: cyan;
        border: 3px solid cornflowerblue;
        border-radius: 15px;
    }
}

