.home-container {
    display: flex;
    justify-content: space-between;

 .divider {
     display: flex;
     align-content: flex-start;
 }

    .home-pic  img {
        height: 440px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
        border-radius: 5px;
        border: 3px solid cornflowerblue;
    }


    .text-container {
        margin-left: 146px; 
        width: 600px;
        height: 400px;
    
    
        p {
            line-height: 1;
            color: #4086ce;
            font-weight: 900;
            font-size: 24px;        
        }
    }

    .show-logo {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 140px;
        margin-left: 80px;
        
        img {
            width: 140px;
            padding: 5px;
        }
    }

    .youtube-playlist {
        height: 745px;
        width: 400px;
        border: 5px solid cornflowerblue;
        border-radius: 5px;
        margin-top: 10px;
        overflow: auto;   
    }

}

.right-side-home {
    margin-right: 10px;
}

.spinner-wrapper img {
    align-items: center;
    height: 20px;
    font-size: 2.0em;
    color: turquoise;
    filter: brightness(110%);
    width: 100%;
    display: grid;
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5
}