.blog-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkslateblue;
    padding-bottom: 100px;
}

.blog-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    border: 5px solid cornflowerblue;
    border-radius: 15px;
    margin-top: 5px;
}

.drawing-wrapper img {
    height: 200px;
    border-radius: 20px;
    padding: 5px;
}

.blog-page-title {
    justify-content: center;
    font-family: "Style Script", cursive;
    font-size: 70px;
    color: darkslategrey;
    text-decoration: underline;
    margin: 10px;
}
    
.dark-bee-wrapper img {
    height: 120px;
    margin-left: 5px;
}

.blog-posts {
    border: 5px solid cornflowerblue;
    border-radius: 10px;
    width: 700px;
    height: 200px;
    justify-content: center;
    align-items: center;
    color: cornflowerblue;
    background-color: whitesmoke;
    margin-top: 5px;

    .blog-title {
        width: 40vw;
        color: azure;
        padding-left: 5px;
        font-size: 2em;
        font-family: fantasy;
        text-shadow: 2px 2px 0 #4074b5, 2px 1px 0 #4074b5, -2px -1px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, 0px 11px 13px rgba(25,67,81,0.44);
        text-decoration: underline;
    }

    .blog-content {
        font-family: fantasy;
        padding: 10px;
    }

}

