.blog-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cyan;
    border: 3px solid cornflowerblue;
    border-radius: 15px;
    margin-top: 5px;
}

.drawing-wrapper img {
    height: 200px;
    border-radius: 20px;
    padding: 5px;
}

.blog-page-title {
    font-family: "Style Script", cursive;
    font-size: 70px;
    color: darkslategrey;
    text-decoration: underline;
    margin: 10px;
}
    
.dark-bee-wrapper img {
    height: 120px;
    margin-left: 5px;
}

.blog-posts {
    border: 2px solid black;
    width: 700px;
    height: 400px;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: cornflowerblue;
    margin-top: 5px;
}

