.blog-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkslateblue;
    height: 1000px;
}

.blog-header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    justify-content: center;
    background-color: azure;
    border: 5px solid cornflowerblue;
    border-radius: 15px;
    margin-top: 5px;
    width: 55vw;
    height: 37vh;
}

.drawing-wrapper img {
    height: 25vh;
    border-radius: 20px;
    padding: 5px;
}

.blog-page-title {
    font-weight: 800;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 38px;
    color: darkslategrey;
    text-decoration: underline;
    margin: 10px;
}
    
.dark-bee-wrapper img {
    height: 20vh;
    margin-left: 5px;
}

.blog-posts {
    border: 5px solid cornflowerblue;
    border-radius: 10px;
    width: 50vw;
    height: 200px;
    justify-content: center;
    align-items: center;
    color: cornflowerblue;
    background-color: whitesmoke;
    margin-top: 5px;

    .blog-title {
        width: 40vw;
        color: black;
        padding-left: 5px;
        font-size: 2em;
        text-shadow: 2px 2px 0 #4074b5, 2px 1px 0 #4074b5, -2px -1px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, 0px 11px 13px rgba(25,67,81,0.44);
        text-decoration: underline;
    }

    .blog-content {
        font-family: sans-serif;
        font-weight: 900;
        padding: 10px;
    }

}

